<html>

<head>
    <title>Todo List</title>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"
        integrity="sha256--aaODHAgvwQW1bFOGXMeX+pC4PZIsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <link href="/assets/styles.css" rel="stylesheet">
</head>

<body>
    <h1>My Todo List</h1>
    <div id="todo-table">
        <form method="post" action="/todo">
            <input type="text" name="task" placeholder="Add new item..." required>
            <button>Add New Item</button>
        </form>
        <ul>
            <% for(let i=0; i < todos.length; i++){ %>
                <li data-doc="<%= todos[i]._id %>">
                    <%=todos[i].task %>
                </li>
                <% } %>
        </ul>
    </div>
    <script>
        
        const task = document.querySelector('ul li');

        task.addEventListener('click', (e) => {

            const endpoint = `/todo/${task.dataset.doc}`;

                fetch(endpoint, {
                    method: 'DELETE'
                })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch(err => console.log(err));
        })

    </script>
</body>

</html>